[Desktop Entry]
Encoding=UTF-8
Name=Link to Bookmarklet for case-sensitive search in Google Chrome (and other browsers which do not ship this feature). You can find install instruction below the code.
Type=Link
URL=https://gist.github.com/borisdiakur/9f9d751b4c9cf5acafa2
Icon=text-html
