[Desktop Entry]
Encoding=UTF-8
Name=Link to Case sensitive searches in Google Chrome - Super User
Type=Link
URL=https://superuser.com/questions/192437/case-sensitive-searches-in-google-chrome
Icon=text-html
